body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
    padding: 20px;
  }
  
  h1 {
    color: #0077cc;
  }
  
  p {
    font-size: 16px;
  }
  .tagesschrift-regular {
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .headline-container {
    width: 60%; /* Adjust width to control how much space it occupies */
    margin: 40px auto; /* Centering the container and adding margins */
    text-align: center; /* Aligning the text in the center */
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd; /* Adding a light border around the headline */
    border-radius: 8px; /* Optional rounded corners for the container */
  }

  h3 {
    font-size: 1rem; /* Adjust font size as needed */
    color: #b51c1c; /* Text color */
  }
  .article-section {
    width: 80%;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  /* Headline styling */
  .article-section h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  /* Image styling */
  .article-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  /* Article content */
  .article-content {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
  }
  